Repository HariK3927/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @tapspatel, @vmilosevic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

* @nsmithtt
*.fbs @tapspatel
/.github/ @vmilosevic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @rpavlovicTT @sdjordjevicTT @mtopalovicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTKernel/ @rjakovljevicTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @nobradovictt
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @rpavlovicTT @sdjordjevicTT @mtopalovicTT
/lib/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTKernel/ @rjakovljevicTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @nobradovictt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel

Saving
  test/python/golden/test_ttir_models.py
  test/python/golden/test_ttir_ops.py
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/test_optimizer_overrides.py
  tools/ttir-builder/utils.py
Owners: @nsmithtt

silicon test for llmbox
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_1x8_ttnn.mlir
  test/ttmlir/Silicon/TTNN/llmbox/ccl/ccl_2x4_ttnn.mlir
Owners: @nsmithtt

silicon test under construction
  test/ttmlir/Silicon/TTNN/n300/ccl/ccl_1x2_ttnn.mlir
Owners: @nsmithtt

P2P Op
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/operations/ccl.fbs
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/ccl/point_to_point.cpp
  runtime/lib/ttnn/operations/ccl/point_to_point.h
  runtime/lib/ttnn/program_executor.cpp
  test/ttmlir/Dialect/TTNN/ccl/point_to_point_negative.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @rpavlovicTT, @nobradovictt, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

remove unnecessary verification
  lib/Dialect/TTNN/IR/TTNNOps.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @rpavlovicTT, @nobradovictt

silicon test for tg
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_1x32_ttnn.mlir
  test/ttmlir/Silicon/TTNN/tg/ccl/ccl_8x4_ttnn.mlir
Owners: @nsmithtt

Remove two parameters from conv2dconfig
  include/ttmlir/Conversion/TTNNToEmitC/EmitCConversion.h
  include/ttmlir/Dialect/TTNN/IR/TTNNOpsAttrs.td
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  include/ttmlir/Dialect/TTNN/Utils/PassOverrides.h
  include/ttmlir/Target/TTNN/operations/conv.fbs
  include/ttmlir/Target/Utils/MLIRToFlatbuffer.h
  lib/Dialect/TTNN/Analysis/LegalLayoutAnalysis.cpp
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
  lib/Dialect/TTNN/Utils/PassOverrides.cpp
  lib/OpModel/TTNN/Conversion.cpp
  python/OptimizerOverrides.cpp
  python/TTNNModule.cpp
  runtime/lib/ttnn/operations/utils/utils.cpp
  test/ttmlir/Dialect/TTNN/fusing/conv2d_activation_fusing_ttnn.mlir
  test/ttmlir/Dialect/TTNN/optimizer/conv2d_config_override.mlir
  test/ttmlir/EmitC/TTNN/conv/conv2d_conv2dconfig.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv2d_config.mlir
  test/ttmlir/Silicon/TTNN/n150/perf/test_perf_conv_transpose2d_with_conv2d_config.mlir
  test/unittests/OpModel/TTNN/Op/TestOpModelInterface.cpp
  test/unittests/Optimizer/TestOptimizerOverrides.cpp
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/explorer/tt_adapter/src/tt_adapter/mlir.py
Owners: @svuckovicTT, @rpavlovicTT, @sdjordjevicTT, @mtopalovicTT, @nobradovictt, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

annotate the variables
  lib/Dialect/TTNN/IR/TTNNOpsAttrs.cpp
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @rpavlovicTT, @nobradovictt

Saving again
  test/python/golden/test_ttir_ops.py
  tools/ttir-builder/builder.py
Owners: @nsmithtt

Clean-ups
  test/python/golden/test_ttir_ops.py
  tools/ttir-builder/utils.py
Owners: @nsmithtt

More cleanup
  test/python/golden/test_ttir_ops.py
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/ttir-builder/test_optimizer_overrides.py
  tools/ttir-builder/utils.py
Owners: @nsmithtt

remove unused variable in createDramMap()
  lib/Dialect/TTCore/IR/TTCoreOpsTypes.cpp
Owners: @nsmithtt

HACK: disable to_layout folding canonicalization; allow view_layout to span memspaces
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt

Skip CB config for DRAM buffers in ttrt
  runtime/lib/ttmetal/executor.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Cleanups
  tools/explorer/test/run_tests.py
  tools/ttir-builder/utils.py
Owners: @nsmithtt

Splitting builder for merge
  tools/ttir-builder/apis.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/ops.py
Owners: @nsmithtt
