Repository HariK3927/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @sdjordjevicTT, @tapspatel, @vmilosevic, @svuckovicTT, @mtopalovicTT, @rpavlovicTT, @jserbedzijaTT, @jnie-TT, @azecevicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @odjuricicTT, @vprajapati-tt, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

*.cmake @nsmithtt @sdjordjevicTT
*.fbs @tapspatel @nsmithtt
*.txt @nsmithtt @sdjordjevicTT
/.github/ @vmilosevic @tapspatel
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @jserbedzijaTT @jnie-TT @azecevicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @rpavlovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @nsmithtt @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTKernel/ @nsmithtt @rpavlovicTT @rjakovljevicTT
/include/ttmlir/Dialect/TTMetal/ @nsmithtt @rpavlovicTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @nobradovictt @jserbedzijaTT @azecevicTT
/include/ttmlir/Dialect/TTNN/Analysis/ @nobradovictt @odjuricicTT
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @jserbedzijaTT @azecevicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @rpavlovicTT @sdjordjevicTT @mtopalovicTT @jserbedzijaTT @azecevicTT
/lib/Dialect/TT/ @sdjordjevicTT @nsmithtt @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/lib/Dialect/TTIR/ @sdjordjevicTT @nsmithtt @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt @jserbedzijaTT @azecevicTT
/lib/Dialect/TTKernel/ @nsmithtt @rpavlovicTT @rjakovljevicTT
/lib/Dialect/TTMetal/ @nsmithtt @rpavlovicTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @nobradovictt @jserbedzijaTT @jnie-TT @azecevicTT
/lib/Dialect/TTNN/Analysis/ @odjuricicTT @nobradovictt
/python/ @nsmithtt @tapspatel @odjuricicTT @vprajapati-tt
/python/test_infra/ @nsmithtt @tapspatel @vprajapati-tt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel @nsmithtt
/test/ttmlir/Dialect/TTNN/optimizer/ @nobradovictt @odjuricicTT
/test/ttmlir/Silicon/TTNN/optimizer/ @nobradovictt @odjuricicTT
/test/unittests/Optimizer @nobradovictt @odjuricicTT
/tools/explorer/ @odjuricicTT @nobradovictt @vprajapati-tt

Re-enable op level golden check
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: none

Testing info
  docs/Makefile
  docs/make.bat
  docs/modules.rst
  docs/source/_static/tt_theme.css
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/usage.rst
  docs/ttir_builder.rst
Owners: none

Saving
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  tools/ttir-builder/builder.py
Owners: none

saving a hair of progress
  docs/modules.rst
  docs/source/api.rst
  docs/source/index.rst
  docs/ttir_builder.rst
Owners: none

Adding some draft docstrings
  tools/ttir-builder/builder.py
Owners: none

Updating autogen files, sorta works
  docs/source/api.rst
  docs/source/conf.py
  tools/ttir-builder/utils.py
Owners: none

Update, probably not functional
  docs/Makefile
  docs/source/conf.py
Owners: none

Reverting
  docs/Makefile
  docs/source/index.rst
Owners: none

Saving a little progress
  cmake/modules/ConfigureSphinx.cmake
  docs/CMakeLists.txt
  docs/html_to_md.py
  docs/source/conf.py
Owners: @nsmithtt, @sdjordjevicTT

A little more progress, build/docs directories generated
  cmake/modules/ConfigureSphinx.cmake
  docs/CMakeLists.txt
  docs/html_to_md.py
Owners: @nsmithtt, @sdjordjevicTT

MD files no longer contain html script
  cmake/modules/ConfigureSphinx.cmake
  docs/CMakeLists.txt
Owners: @nsmithtt, @sdjordjevicTT

Updated doc handline, split builder.py
  docs/source/api.rst
  docs/source/conf.py
  docs/source/usage.rst
  tools/ttir-builder/CMakeLists.txt
  tools/ttir-builder/apis.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/ops.py
Owners: @nsmithtt, @sdjordjevicTT

builder changes
  tools/ttir-builder/__init__.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/ops.py
Owners: none

Deleted file, added ttir-builder to autogen summary
  .github/Dockerfile.base
  docs/autogen-summary.py
  docs/html_to_md.py
  docs/source/conf.py
  docs/source/index.rst
  docs/src/getting-started.md
Owners: @vmilosevic, @tapspatel

Split builder package files into seperate docs
  docs/autogen-summary.py
  docs/source/index.rst
Owners: none

add backticks where necessary
  tools/ttir-builder/ops.py
Owners: none

Document CCL Ops
  tools/ttir-builder/ops.py
Owners: none

Document `div`
  tools/ttir-builder/ops.py
Owners: none

Document `maximum`
  tools/ttir-builder/ops.py
Owners: none

Autogen changes, added skip functions
  docs/CMakeLists.txt
  docs/source/conf.py
  docs/source/index.rst
  tools/ttir-builder/ccl_golden.py
  tools/ttir-builder/ops.py
Owners: @nsmithtt, @sdjordjevicTT

Saving
  test/python/golden/test_ttir_ops.py
  tools/ttir-builder/ops.py
Owners: none

Temp shardy test
  env/patches/shardy.patch
Owners: none

Removing shardy test
  env/patches/shardy.patch
Owners: none

Saving
  docs/source/conf.py
  docs/source/index.rst
  tools/ttir-builder/ops.py
Owners: none

Saving pre re-adding ops
  docs/source/conf.py
  tools/ttir-builder/ops.py
Owners: none

Saving generated docstrings
  tools/ttir-builder/ops.py
Owners: none

Finalizing docstrings
  tools/ttir-builder/apis.py
  tools/ttir-builder/ops.py
  tools/ttir-builder/utils.py
Owners: none

Saving
  tools/ttir-builder/utils.py
Owners: none

Revert "Adding changes for merge"
  tools/ttir-builder/apis.py
  tools/ttir-builder/ops.py
Owners: none

1x1 conv with bias translates to linear
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Conv2DToMatmul.cpp
  test/ttmlir/Dialect/TTIR/Decomposition/convolution_to_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @rpavlovicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT

turning the pass on by default
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  lib/Dialect/TTIR/Transforms/Conv2DToMatmul.cpp
  test/ttmlir/Dialect/TTNN/convolution/simple_conv1d.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @rpavlovicTT, @nobradovictt, @jserbedzijaTT, @azecevicTT, @nsmithtt, @mrakitaTT

rebasing onto main
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
  lib/Dialect/TTIR/Transforms/Conv2DToMatmul.cpp
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  test/ttmlir/Dialect/TTIR/Decomposition/convolution_to_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @rpavlovicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT, @jnie-TT

responding to comments
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  test/ttmlir/Dialect/TTIR/Decomposition/convolution_to_matmul.mlir
Owners: @sdjordjevicTT, @nsmithtt, @rpavlovicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT

Saving
  test/python/golden/test_ttir_models.py
  test/python/golden/test_ttir_ops.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: none

write lowering to ttkernel for dram dma ops
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  lib/Conversion/TTIRToTTKernel/TTIRToTTKernel.cpp
Owners: @sdjordjevicTT, @nsmithtt, @rpavlovicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @jserbedzijaTT, @azecevicTT

add dram dma lowering mlir example
  test/ttmlir/Conversion/TTIRToTTKernel/dram_dma_lowering.mlir
Owners: none

fix dram affine map
  lib/Dialect/TTCore/IR/TTCoreOpsTypes.cpp
Owners: none

[build] add install.sh
  install.sh
Owners: none

add spdx header
  install.sh
Owners: none

Saving
  test/python/golden/test_ttir_ops.py
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: @odjuricicTT, @nobradovictt, @vprajapati-tt
