Repository HariK3927/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @tapspatel, @vmilosevic, @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

* @nsmithtt
*.fbs @tapspatel
/.github/ @vmilosevic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @rpavlovicTT @sdjordjevicTT @mtopalovicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTKernel/ @rjakovljevicTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @nobradovictt
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @rpavlovicTT @sdjordjevicTT @mtopalovicTT
/lib/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTKernel/ @rjakovljevicTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @nobradovictt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel

Re-enable op level golden check
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: @nsmithtt

Testing info
  docs/Makefile
  docs/make.bat
  docs/modules.rst
  docs/source/_static/tt_theme.css
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/usage.rst
  docs/ttir_builder.rst
Owners: @nsmithtt

Saving
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  tools/ttir-builder/builder.py
Owners: @nsmithtt

saving a hair of progress
  docs/modules.rst
  docs/source/api.rst
  docs/source/index.rst
  docs/ttir_builder.rst
Owners: @nsmithtt

Adding some draft docstrings
  tools/ttir-builder/builder.py
Owners: @nsmithtt

Updating autogen files, sorta works
  docs/source/api.rst
  docs/source/conf.py
  tools/ttir-builder/utils.py
Owners: @nsmithtt

Update, probably not functional
  docs/Makefile
  docs/source/conf.py
Owners: @nsmithtt

Reverting
  docs/Makefile
  docs/source/index.rst
Owners: @nsmithtt

Saving a little progress
  cmake/modules/ConfigureSphinx.cmake
  docs/CMakeLists.txt
  docs/html_to_md.py
  docs/source/conf.py
Owners: @nsmithtt

A little more progress, build/docs directories generated
  cmake/modules/ConfigureSphinx.cmake
  docs/CMakeLists.txt
  docs/html_to_md.py
Owners: @nsmithtt

MD files no longer contain html script
  cmake/modules/ConfigureSphinx.cmake
  docs/CMakeLists.txt
Owners: @nsmithtt

Updated doc handline, split builder.py
  docs/source/api.rst
  docs/source/conf.py
  docs/source/usage.rst
  tools/ttir-builder/CMakeLists.txt
  tools/ttir-builder/apis.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/ops.py
Owners: @nsmithtt

builder changes
  tools/ttir-builder/__init__.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Deleted file, added ttir-builder to autogen summary
  .github/Dockerfile.base
  docs/autogen-summary.py
  docs/html_to_md.py
  docs/source/conf.py
  docs/source/index.rst
  docs/src/getting-started.md
Owners: @vmilosevic, @nsmithtt

Split builder package files into seperate docs
  docs/autogen-summary.py
  docs/source/index.rst
Owners: @nsmithtt

add backticks where necessary
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Document CCL Ops
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Document `div`
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Document `maximum`
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Autogen changes, added skip functions
  docs/CMakeLists.txt
  docs/source/conf.py
  docs/source/index.rst
  tools/ttir-builder/ccl_golden.py
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Saving
  test/python/golden/test_ttir_ops.py
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Temp shardy test
  env/patches/shardy.patch
Owners: @nsmithtt

Removing shardy test
  env/patches/shardy.patch
Owners: @nsmithtt

Saving
  docs/source/conf.py
  docs/source/index.rst
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Saving pre re-adding ops
  docs/source/conf.py
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Saving generated docstrings
  tools/ttir-builder/ops.py
Owners: @nsmithtt

Finalizing docstrings
  tools/ttir-builder/apis.py
  tools/ttir-builder/ops.py
  tools/ttir-builder/utils.py
Owners: @nsmithtt

Saving
  tools/ttir-builder/utils.py
Owners: @nsmithtt

Revert "Adding changes for merge"
  tools/ttir-builder/apis.py
  tools/ttir-builder/ops.py
Owners: @nsmithtt

1x1 conv with bias translates to linear
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTIR/Transforms/Conv2DToMatmul.cpp
  test/ttmlir/Dialect/TTIR/Decomposition/convolution_to_matmul.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @nsmithtt

turning the pass on by default
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  lib/Dialect/TTIR/Transforms/Conv2DToMatmul.cpp
  test/ttmlir/Dialect/TTNN/convolution/simple_conv1d.mlir
Owners: @sdjordjevicTT, @svuckovicTT, @mtopalovicTT, @rpavlovicTT, @nobradovictt, @mrakitaTT, @nsmithtt

rebasing onto main
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  include/ttmlir/Dialect/TTNN/Pipelines/TTNNPipelines.h
  lib/Dialect/TTIR/Transforms/CMakeLists.txt
  lib/Dialect/TTIR/Transforms/Conv2DToMatmul.cpp
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  test/ttmlir/Dialect/TTIR/Decomposition/convolution_to_matmul.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @nsmithtt

responding to comments
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  test/ttmlir/Dialect/TTIR/Decomposition/convolution_to_matmul.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @nsmithtt

Saving
  test/python/golden/test_ttir_models.py
  test/python/golden/test_ttir_ops.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: @nsmithtt

write lowering to ttkernel for dram dma ops
  include/ttmlir/Dialect/TTIR/IR/TTIRGenericRegionOps.td
  lib/Conversion/TTIRToTTKernel/TTIRToTTKernel.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @svuckovicTT, @mtopalovicTT, @mrakitaTT, @nobradovictt, @nsmithtt

add dram dma lowering mlir example
  test/ttmlir/Conversion/TTIRToTTKernel/dram_dma_lowering.mlir
Owners: @nsmithtt

fix dram affine map
  lib/Dialect/TTCore/IR/TTCoreOpsTypes.cpp
Owners: @nsmithtt

[build] add install.sh
  install.sh
Owners: @nsmithtt

add spdx header
  install.sh
Owners: @nsmithtt

Saving
  test/python/golden/test_ttir_ops.py
  tools/explorer/test/run_tests.py
  tools/explorer/tt_adapter/src/tt_adapter/main.py
  tools/ttir-builder/builder.py
  tools/ttir-builder/utils.py
Owners: @nsmithtt
